* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html {
  --v1:#222;
  --v2:#444;
  --v3:#303030;
  --v4:#555;
  --v5: #fff;
}

body {
  width: 100vw;
  font-family: sans-serif;
  overflow-y: hidden;
}

body .cards-wrapper {
  width: 332px;
  position: relative;
  height: 200px;
}

body .cards-wrapper .cards {
  width: 320px;
  min-height: 1px;
  height: 100%;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

body .cards-wrapper .cards.active {
  opacity: 1;
  pointer-events: initial;
}

body .cards-wrapper .cards .card-header {
  border: 1px solid  transparent;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cards-wrapper .cards .card-header p {
  padding: 10px;
}

body .cards-wrapper .cards .card-header close {
  cursor: pointer;
  opacity: 0.65;
  padding: 10px;
}

body .cards-wrapper .cards .card-header close:hover {
  opacity: 1;
}

body .cards-wrapper .cards .card-body {
  padding: 10px;
  border: 1px solid  transparent;
  border-top: none;
}

body .alerts {
  width: 300px;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .alerts p {
  width: 265px;
}

body.light {
  color: #222;
  background-color: #fff;
}

body.light .alerts {
  background-color: #00bc8c;
}

body.light .cards .card-header {
  color: #444;
  border-color: #444;
}

body.light .cards .card-body {
  color: #303030;
  border-color: #444;
}

body.dark {
  background-color: var(--v1);
  color: var(--v5);
}

body.dark .alerts {
  background-color: #00bc8c;
}

body.dark .cards .card-header {
  background-color: var(--v2);
  border-color: var(--v5);
}

body.dark .cards .card-body {
  background-color: var(--v3);
  border-color: var(--v5);
}

bold {
  font-weight: 900;
}

.in-screen {
  min-height: 100vh;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.in-screen .toggle-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
}

.in-screen .toggle-mode div:nth-child(1) label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
}

.in-screen .toggle-mode div:nth-child(2) label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
}

.in-screen .toggle-mode div label {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.in-screen .toggle-mode div input {
  display: none;
}

.in-screen h1 {
  margin-bottom: 35px;
}

.in-screen section {
  max-width: 479px;
  width: 100%;
  padding: 15px;
  margin: 15px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.in-screen section#tag-along .tables table {
  border: 1px solid transparent;
}

.in-screen section#tag-along .tables-button button {
  border: 1px solid transparent;
}

.in-screen.light .toggle-mode div input:checked + label {
  color: #303030;
  background-color: #fff;
}

.in-screen.light h1 {
  color: black;
}

.in-screen.light section {
  background-color: #fff;
  border-color: #555;
  -webkit-box-shadow: 3px -1px 3px -2px #5158BB;
  box-shadow: 3px -1px 3px -2px #5158BB;
}

.in-screen.light section#tag-along .tables table {
  background-color: #258cd1;
  border-color: #95c9ec;
  color: white;
}

.in-screen.light section#tag-along .tables table thead {
  border-color: #95c9ec;
}

.in-screen.light section#tag-along .tables-button button {
  background-color: #2384c6;
  border-color: #217dbb;
  color: #fff;
}

.in-screen.dark .toggle-mode div label {
  border-color: var(--v4);
  color: var(--v4);
}

.in-screen.dark .toggle-mode div input:checked + label {
  background-color: var(--v3);
  color: var(--v5);
}

.in-screen.dark section {
  background-color: var(--v3);
}

.in-screen.dark section#tag-along .tables-button button {
  border-color: white;
}

.in-screen.dark section#tag-along .tables-button button:hover {
  color: var(--v5);
}

section#result {
  cursor: pointer;
}

section#result div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#result span img {
  width: 32px;
}

section#tag-along .random-result-box {
  display: none;
}

section#tag-along .tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  border-radius: 4px;
  min-height: 61px;
}

section#tag-along .tables table {
  width: 160px;
}

section#tag-along .tables table thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid transparent;
}

section#tag-along .tables table tbody {
  display: inline-block;
  position: relative;
  height: 23px;
  min-height: 23px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

section#tag-along .tables table tbody tr {
  min-height: 23px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateZ(-15px);
          transform: translateZ(-15px);
  -webkit-transform: rotateX(0.25turn) translateZ(15px) scale(1, -1);
          transform: rotateX(0.25turn) translateZ(15px) scale(1, -1);
}

section#tag-along .tables table tbody tr.front {
  -webkit-transform: initial;
          transform: initial;
}

section#tag-along .tables button {
  max-height: 30px;
}

section#tag-along .tables-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#tag-along .tables-button button {
  height: 32px;
  cursor: pointer;
  width: 320px;
  border-radius: 4px;
}
/*# sourceMappingURL=style.css.map */